<body class="hero-anime">
	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="/"><img src="/static/img/Adsız.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="">
									<div class="section mt-3"></div>


									<div id="switch">
										<div id="circle"></div>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/">Anasayfa</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/birthdaylist">Doğum Tarihleri</a>
								</li>
								{% if session['logged_in'] %}
								{% else %}
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/login">Giriş Yap</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/register">Kayıt ol</a>
								</li>
								{% endif %}
								{% if session['logged_in'] %}<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/dashboard">Profil</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/logout">Çıkış Yap</a>
								</li>
								<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/addpost">Blog Ekle</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/myblogs">Bloglarım</a>
								</li> -->
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blog İşlemleri</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="/addpost">Blog ekle</a>
										<a class="dropdown-item" href="/myblogs">Bloglarım | Düzenle & Sil</a>
										
									</div>
								</li>
								{% endif %}
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="/blogs" role="button">Bloglar</a>
								</li>
								
							</ul>

						</div>

					</nav>
				</div>
			</div>
		</div>
	</div>

	<br>

	<!-- Link to page
================================================== -->

</body>