{% extends 'layout.html' %}


{% block body %}



<br>
<hr>
<h1><span>Evet arkadaşlar hoşgeldiniz.</span></h1>

<p>Bu website benim yaptığım ilk website olduğundan ötürü bir sürü hata, eksik ya da saçma şeyler olabilir.</p>

<p>Lütfen hataları mazur görün ve bana geri dönüş(feedback) yapın.(Bugları öğrenmemiz çok iyi olur)</p>

<p>İyi günler dilerim herkese.</p>

<p>Sosyal Medya Hesapları ve projenin linki:</p>
<p><a target="_blank" href="https://www.instagram.com/bariscanatakli/">Instagram</a></p>
<p><a target="_blank" href="https://www.linkedin.com/in/bar%C4%B1%C5%9F-can-atakl%C4%B1-414184203/">Linkedin</a></p>
<p><a target="_blank" href="https://github.com/bariscanatakli">Github</a></p>
<p><a target="_blank" href="https://github.com/bariscanatakli/SENGISTAN">Proje Github Link</a></p>

<hr>


{% endblock body %}