{% extends 'layout.html' %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
{% if posts %}

{% for post in posts %}

<div id="wrapper" class="mt-sm-5 wrapper" style="height: 600px;">
    <div class="d-flex align-items-start py-3 border-bottom" style="height: 210px;"> <img
            src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img" alt="">
        <div class="pl-sm-4 pl-3" id="img-section"> <b>{{post.name}}
                {{post.surname}} - {{post.username}}</b>
                <p>{{post.section}} - {{post.time}}</p>
            {% if session.username == post.username %}
            <a class="edit"  href="/editpost/{{post.id}}"><button style="height: 36px; width:80px" class="btn btn-info">Düzenle</button></a>
            {% endif %}
            {% if session.username == post.username %}
            <a class="delete" href="/dellpost/{{post.id}}"><button style="height: 36px; width:80px" class="btn btn-danger">Sil</button></a>
            {% endif %}
             
        </div>
    </div>
    <div class="post"> {{post.post|safe}}</div>
</div>
{% endfor %}
{% else %}<div id="wrapper" class="mt-sm-5 wrapper" style="height: 190px;">
    <h1><span>Burada hiçbir şey yok</span></h1>
        </div>
    </div>
</div>
{% endif %}
</div>

{% endblock body %}